{% extends "base.jinja2" %}
{% block head %}
        <script src='term.js' type='text/javascript'></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css' type='text/css'/>
        <style>
            body {
                    font-family: 'Hack', Courier, monospace;
                    font-size:  14pt;
                 }
            #controls { display: none; }
        </style>
{% endblock %}
{% block tail %}
        <script type="text/javascript">
  $(function() {
    function onMessage(e) {
      var event = e.data;
      if (event == 'slide:start') {
        restart(1);
      }
    }
    window.addEventListener("message", onMessage, false);
  });
        </script>
{% endblock %}
